future
tqdm
matplotlib
numpy
mido
http://download.pytorch.org/whl/cu92/torch-0.4.1-cp36-cp36m-linux_x86_64.whl
git+https://github.com/NVIDIA/apex
tensorflow
# Note: Install onnx first from Conda Forge
git+https://github.com/onnx/onnx-tensorflow/commit/2ae92232074e9849ed0292542451ad6b9edf24ee