html, 
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1423;
    color: #ffffff;
}

input[type="range"] {
    transform: rotate(-90deg);
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 1px;
    background: #5382ca;
    cursor: pointer;
    margin-top: -14px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 1px;
    background: #5382ca;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    border: 1px solid #000000;
    height: 36px;
    width: 16px;
    border-radius: 1px;
    background: #5382ca;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #ffffff;
    border-radius: 1.3px;
    border: 0.2px solid #010101;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    border-width: 16px 0;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ffffff;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}
input[type=range]::-ms-fill-upper {
    background: #ffffff;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent {
    color: #5382ca;
}

.title-lg {
    font-size: 8em;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 60px;
}

.control-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider {
    margin-bottom: 80px;
}

#soundwave{
    position: relative;
    padding-right: 50px;
    margin-top: 50px;
}
#soundwave span{
    display: block;
    bottom: 0px;
    width: 9px;
    height: 5px;
    background: #2B4162;
    position: absolute;
    animation: soundwave 1.5s infinite ease-in-out;
    margin-bottom: 30px;
}

#soundwave span:nth-child(2){
    left: 11px;
    animation-delay: .2s;
}

#soundwave span:nth-child(3){
    left: 22px;
    animation-delay: .4s;
}

#soundwave span:nth-child(4){
    left: 33px;
    animation-delay: .6s;
}

#soundwave span:nth-child(5){
    left: 44px;
    animation-delay: .8s;
}

@keyframes soundwave {
    0% {height:5px;transform:translateY(0px);background:#2B4162;}
    25% {height:30px;transform:translateY(15px);background:#5382ca;}
    50% {height:5px;transform:translateY(0px);background:#2B4162;}
    100% {height:5px;transform:translateY(0px);background:#2B4162;}
}

.caption {
    text-align: center;
}

/**
 * Particle fxs
 */
#particle-canvas {
    position: fixed !important;
    z-index: -1000;
    height: 100%;
    width: 100%;
}

.particle-network-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
  }
  
  .glow {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0));
  }
  
  .glow-1 {
    width: 150vw;
    height: 150vh;
    margin-top: -75vh;
    margin-left: -75vw;
    animation: glow-1-move 25s linear infinite both;
  }
  
  @keyframes glow-1-move {
    from {
      transform: translate(-100%, 100%);
    }
    to {
      transform: translate(100%, -100%);
    }
  }
  .glow-2 {
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: glow-2-move 25s linear 8.33333s infinite both;
  }
  
  @keyframes glow-2-move {
    from {
      transform: translate(-100%, 0%);
    }
    to {
      transform: translate(100%, 100%);
    }
  }
  .glow-3 {
    width: 120vw;
    height: 120vh;
    margin-top: -60vh;
    margin-left: -60vw;
    animation: glow-3-move 25s linear 16.66667s infinite both;
  }
  
  @keyframes glow-3-move {
    from {
      transform: translate(100%, 100%);
    }
    to {
      transform: translate(0%, -100%);
    }
  }
  