html, 
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #1A1423;
    color: #ffffff;
}

input[type="range"] {
    transform: rotate(-90deg);
    -webkit-appearance: none;
    width: 100px;
    background: transparent;
    margin-top: 60px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 35px;
    width: 15px;
    background: #5382ca;
    cursor: pointer;
    margin-top: -14px;
}

input[type=range]::-moz-range-thumb {
    height: 35px;
    width: 15px;
    background: #5382ca;
    cursor: pointer;
}

input[type=range]::-ms-thumb {
    height: 35px;
    width: 15px;
    background: #5382ca;
    cursor: pointer;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #ffffff;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ffffff;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: #ffffff;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 8.4px;
    cursor: pointer;
    background: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #ffffff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #ffffff;
}
input[type=range]::-ms-fill-upper {
    background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ffffff;
}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.accent {
    color: #5382ca;
}

.title-lg {
    font-size: 8em;
    font-weight: bold;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;

    background: rgba(0, 0, 0, 0.7);
    border-radius: 30px;
    padding: 10px;
}

.control-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.slider {
    margin-bottom: 80px;
}

.caption {
    text-align: center;
}

/**
 * Particle fxs
 */
#particle-canvas {
    position: fixed !important;
    z-index: -1000;
    height: 100%;
    width: 100%;
}

.particle-network-animation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
  }

  .particle-network-animation::before {
    z-index: -2;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-position: center center;
    background-size: cover;
    opacity: 0.2;
  }
  
  .glow {
    z-index: -1;
    position: fixed;
    top: 50%;
    left: 50%;
    background-image: radial-gradient(circle closest-side, rgba(255, 255, 255, 0.025), rgba(0, 0, 0, 0));
  }
  
  .glow-1 {
    width: 150vw;
    height: 150vh;
    margin-top: -75vh;
    margin-left: -75vw;
    animation: glow-1-move 25s linear infinite both;
  }
  
  @keyframes glow-1-move {
    from {
      transform: translate(-100%, 100%);
    }
    to {
      transform: translate(100%, -100%);
    }
  }
  .glow-2 {
    width: 100vw;
    height: 100vh;
    margin-top: -50vh;
    margin-left: -50vw;
    animation: glow-2-move 25s linear 8.33333s infinite both;
  }
  
  @keyframes glow-2-move {
    from {
      transform: translate(-100%, 0%);
    }
    to {
      transform: translate(100%, 100%);
    }
  }
  .glow-3 {
    width: 120vw;
    height: 120vh;
    margin-top: -60vh;
    margin-left: -60vw;
    animation: glow-3-move 25s linear 16.66667s infinite both;
  }
  
  @keyframes glow-3-move {
    from {
      transform: translate(100%, 100%);
    }
    to {
      transform: translate(0%, -100%);
    }
  }
  